:root {

    /* Spacing */
    --spacing: 1rem;

    /* colors */
    --background-color: #F7F3E8;
    --text-color: #2E4057;
    --accent-color: #316CA4;
}

body {
    background-color: var(--background-color);
    font-family: system-ui, Arial, sans-serif; 
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

/* Header styling */

header {
    position: sticky;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul:nth-of-type(1) {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    position: fixed;
    inset: 0;
    background-color: var(--background-color);
    z-index: 1;
    translate: -100%;
    transition: 0.5s;
}

header nav.open {
    translate: 0;
}
 
header img {
    width: 30px;
    height: 30px;
}

header button {
    position: relative;
    z-index: 2;
    background-color: var(--background-color);
    border: none;
    padding: 0;
}

header nav ul {
    padding: 0;
}

header li {
    padding: 1em;
    margin: 0;
}

header nav ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

header a { 
    color: var(--accent-color);
    text-decoration: none;
}

header a:hover, header a:active, header a:focus {
    color:  var(--text-color);
}

header a.active-state {
    color: var(--text-color);
}

/* main */

main {
    padding: var(--spacing);
}

@media (width > 800px) {
    header {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        position: relative;
        background-color: none;
        translate: 0;
        transition: 0.5s;
    }

    header nav ul:nth-of-type(1) {
        flex-direction: unset;
        align-items: center;
        justify-content: space-between;
    }

    header button {
        display: none;
    }

    main {
        width: 85%;
        margin: 0 auto;
    }

}